h1 {
    text-align: center;
}
​
.visible {
    background-color: burlywood;
    width: auto;
    height: auto;
    border: 3px solid coral;
    /* overflow: visible; */
}
​
.hidden {
    background-color: cornflowerblue;
    width: 300px;
    height: 50px;
    border: darkslateblue;
    overflow: hidden;
}
​
.scroll {
    background-color: grey;
    width: 300px;
    height: 50px;
    border: 3px solid pink;
    overflow: scroll;
}
​
.auto {
    background-color: seagreen;
    width: 300px;
    height: 50px;
    border: 3px solid teal;
    overflow: auto;
}
​
.overflow-xy {
    background-color: violet;
    width: 50px;
    height: 70px;
    border: 3px solid gray;
    overflow-x: scroll;
    overflow-y: hidden;
}